<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.netunion.manager.mapper.DeviceMapper">
    <resultMap id="DeviceResult" type="Device">
        <result property="id" column="id" />
        <result property="deviceType" column="device_type" />
        <result property="manageIp" column="manage_ip" />
        <result property="name" column="name" />
        <result property="rackNo" column="rack_no" />
    </resultMap>
    <!--    增-->
    <insert id="add" parameterType="Device">
        INSERT INTO "device" ("device_type", "name") VALUES(#{deviceType}, #{name})
    </insert>
    <!--    删-->
    <delete id="delete" parameterType="Device">
        DELETE FROM "device" WHERE id = #{id}
    </delete>
    <!--    改-->
    <update id="updateDeviceTypeById" parameterType="Device">
        UPDATE "device" SET device_type = #{deviceType} WHERE id = #{id}
    </update>
    <update id="updateManageIpById" parameterType="Device">
        UPDATE "device" SET manage_ip = #{manageIp} WHERE id = #{id}
    </update>
    <update id="updateNameById" parameterType="Device">
        UPDATE "device" SET name = #{name} WHERE id = #{id}
    </update>
    <update id="updateRackNoById" parameterType="Device">
        UPDATE "device" SET rack_no = #{rackNo} WHERE id = #{id}
    </update>
    <!--    查-->
    <select id="getById" resultMap="DeviceResult" parameterType="Device">
        SELECT * FROM "device" WHERE id = #{id}
    </select>
    <select id="getAll" resultMap="DeviceResult" parameterType="Device">
        SELECT * FROM "device"
    </select>
</mapper>
