<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.netunion.manager.mapper.MemberMapper">
<!--TODO: 重构数据库字段: id、姓名、学号、银行卡号、电话号码-->
    <resultMap id="MemberResult" type="Member">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="studentId" column="student_id" />
        <result property="phoneNum" column="phone_num" />
        <result property="bankNum" column="bank_num" />
    </resultMap>
<!--    增-->
    <insert id="add" parameterType="Member">
        INSERT INTO "member" ("name", student_id) VALUES(#{name}, #{studentId})
    </insert>
<!--    删-->
    <delete id="delete" parameterType="Member">
        DELETE FROM "member" WHERE id = #{id}
    </delete>
<!--    改-->
    <update id="updatePhoneNumById" parameterType="Member">
        UPDATE "member" SET phone_num = #{phoneNum} WHERE id = #{id}
    </update>
    <update id="updateBankNumById" parameterType="Member">
        UPDATE "member" SET bank_num = #{bankNum} WHERE id = #{id}
    </update>
<!--    查-->
    <select id="getById" resultMap="MemberResult" parameterType="Member">
        SELECT * FROM "member" WHERE id = #{id}
    </select>
    <select id="getAll" resultMap="MemberResult" parameterType="Member">
        SELECT * FROM "member"
    </select>
</mapper>