<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.netunion.manager.mapper.UserMapper">
    <resultMap id="UserResult" type="org.netunion.manager.pojo.User">
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="authority" column="authority"/>
    </resultMap>
<!--    查-->
    <select id="getByUsername" resultMap="UserResult" parameterType="org.netunion.manager.pojo.User">
        select * from "user" where "username" = #{username}
    </select>
    <select id="getAll" resultMap="UserResult" parameterType="org.netunion.manager.pojo.User">
        select * from "user"
    </select>
<!--    增-->
    <insert id="add" parameterType="org.netunion.manager.pojo.User">
        insert into "user" ("username", "password", "authority") values (#{username}, #{password}, #{authority})
    </insert>
<!--    删-->
    <delete id="delete" parameterType="org.netunion.manager.pojo.User">
        delete from "user" where "username" = #{username}
    </delete>
<!--    改-->
    <update id="updatePasswdByUsername" parameterType="org.netunion.manager.pojo.User">
        UPDATE "user" SET password = #{newPassword} WHERE "username" = #{username}
    </update>
    <update id="updateAuthorityByUsername" parameterType="org.netunion.manager.pojo.User">
        UPDATE "user" SET authorities = #{newAuthorities} WHERE "username" = #{username}
    </update>
</mapper>